body {
  cursor: url('/cursor-normal.png'), auto !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  overflow: hidden;

}

a,button, .shop-item{
  cursor: url('/finger.png'), pointer !important;
}

a:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover, .clickable:hover, .close, .close:hover {
  cursor: url('/finger.png'), pointer !important;
}




canvas {
  display: block;
}

#game-ui-bot {
  position: absolute;
  bottom: 25px;
  left: 5px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.menu-icon:hover {
  opacity: 1;
}

.menu-icon img {
  width: 32px;
  height: 32px;
  margin-bottom: 2px;
}


#bossHealthContainer {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 8px;
}
#bossHealthContainer:not(:has(div)) {
  display: none !important;
}

.boss-health {
  font-family: Arial, sans-serif;
}



#game-ui {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 10px;
}

#top-left-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#playerName {
  font-size: 18px;
  font-weight: bold;
  color: #e9b266;
  margin-right: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#playerLevel {
  font-size: 14px;
  font-weight: bold;
  color: #ffd700;
  background-color: rgba(200, 169, 126, 0.2);
  padding: 2px 6px;
  border-radius: 10px;
}

#game-stats {
  font-size: 14px;
}

#playerHealthBar, #playerManaBar {
  width: 200px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #c8a97e;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
  position: relative;
}

#playerHealthFill, #playerManaFill {
  height: 100%;
  border-radius: 9px; /* 1px menší než vnější border-radius */
  transition: width 0.3s ease;
}

#playerHealthFill {
  background: linear-gradient(to right, #8b0000, #ff3333);
}

#playerManaFill {
  background: linear-gradient(to right, #000080, #4169e1);
}

#playerHealthText, #playerManaText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-size: 12px;
}

.gold-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#goldCount {
  color: #ffd700;
  font-weight: bold;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.gold-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

#timeCount {
  color: #c8a97e;
  font-weight: bold;
  margin-top: 3px;
}

#magicKeys {
  margin-top: 3px;
  color: #c8a97e;
}

/* Přidáno pro lepší zarovnání a mezery */
#game-stats > div {
  margin-bottom: 3px;
}

#minimap {
  border: 4px solid rgb(0, 0, 0);
}

#timeCount.minimap-open {
  color: rgb(255, 153, 0);
}

#showMinimapIcon.disabled {
  opacity: 0.5;
  cursor: not-allowed;  
}

#menu {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

#menu h1 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.2em;
}

.input-wrapper, .button-wrapper {
  position: relative;
  display: inline-block;
}

.key-badge {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f0e6d2;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 10px;
  z-index: 1;
}


#mazeInput {
  margin-top: 10px;
  position: relative;
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #c8a97e;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #f0e6d2;
  transition: all 0.3s ease;
}

#mazeInput:focus {
  outline: none;
  box-shadow: 0 0 0 2px #e9b266;
  border-color: #e9b266;
}

#mazeInput::placeholder {
  color: #8e7a5e;
}

#mazeInput:hover {
  background-color: rgba(200, 169, 126, 0.1);
}

#generateMaze {
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.9);
  margin: 2% auto;
  padding: 20px;
  border: 2px solid #c8a97e;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  color: #f0e6d2;
  box-shadow: 0 0 20px rgba(200, 169, 126, 0.3);
}

.close {
  color: #c8a97e;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #e9b266;
  text-decoration: none;
  cursor: pointer;
}
#mazeSearchInput {
  align-self: stretch;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #34495e;
  color: #ecf0f1;
  flex: 1 0 0;
}

/* Styly pro Best Scores */



#scoreModal .modal-content h2 {
  color: #e9b266;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#scoreTableContainer{
  max-height: 500px;
  overflow-y: auto;
}

#scoreTable {
  width: 100%;
  border-collapse: collapse;
  color: #f0e6d2; /* Zajistí, že veškerý text v tabulce bude ve světlé barvě */
}

#scoreTable th, #scoreTable td {
  border: 1px solid #c8a97e;
  padding: 12px;
  text-align: left;
}

#scoreTable th {
  background-color: rgba(200, 169, 126, 0.2);
  color: #e9b266;
}

#scoreTable tbody tr {
  background-color: rgba(0, 0, 0, 0.5); /* Tmavé pozadí pro všechny řádky */
}

#scoreTable tbody tr:nth-child(even) {
  background-color: rgba(200, 169, 126, 0.1); /* Mírně světlejší pozadí pro sudé řádky */
}

#scoreTable tbody tr:hover {
  background-color: rgba(200, 169, 126, 0.3);
}

#settingsModal .modal-content {
  max-width: 400px;
}

.graphic-settings {
  margin: 10px 0;
  padding: 5px;
}

#saveSettings {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

#skillbar {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 1368px) {
  #skillbar {
    bottom: 60px;
  }
}

.spell-icon {
  width: 40px;
  height: 40px;
  position: relative;
  border: 2px solid #fff;
  border-radius: 5px;
}

.spell-icon.frozen {
  filter: grayscale(100%) brightness(50%);
  pointer-events: none;
}

.spell-key {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 4px;
  font-size: 12px;
}

.spell-cooldown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.boss-health {
  margin-bottom: 5px;
  font-size: 14px;
}

.boss-name {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 12px;
}

.boss-health-bar {
  width: 150px;
  height: 15px;
  background-color: #333;
  border: 1px solid #ffffff;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  
}

.boss-health-fill {
  height: 100%;
  transition: width 0.3s ease;
}

.boss-health-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 1px black;
  white-space: nowrap;
}

#expBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12px; /* Zmenšeno z 20px na 12px */
  background-color: #1a1a1a;
  z-index: 10;
  overflow: hidden;
}

#expFill {
  height: 100%;
  background: linear-gradient(to bottom, #673fb8, #533081);
  transition: width 0.3s ease;
}

#expSegments {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.expSegment {
  flex-grow: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#expText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 10px; /* Zmenšeno z 12px na 10px */
  text-shadow: 1px 1px 2px #000;
}

#playerLevel {
  margin-left: 10px;
  font-weight: bold;
  color: #ffd700;
}

#skillPoints {
  font-size: 18px;
  font-weight: bold;
  color: #ffd700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.skill-tree {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 85%;
  max-width: 960px;
}

.skill-tree-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto; 
  padding-bottom: 15px;
  scroll-behavior: smooth;  /* Pro plynulé scrollování */
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(200, 169, 126, 0.7);
  color: white;
  font-size: 22px;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
  border-radius: 9999px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-arrow:hover {
  background-color: rgba(200, 169, 126, 0.9);
}

.scroll-arrow.left {
  left: 4px;
}

.scroll-arrow.right {
  right: 4px;
}



.spell {
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
  flex-shrink: 0;  /* Přidáno, aby se kouzla nesmršťovala */
}

.spell-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.spell-icon {
  width: 64px;
  height: 64px;
  border: 2px solid gold;
  border-radius: 50%;
}

.spell-cost {
  font-size: 12px;
  color: #ffd700;
}

.spell-info h3 {
  margin: 10px 0;
  color: #ffd700;
}

.required-level {
  font-size: 12px;
  margin: 5px 0;
}

.upgrades-container {
  margin-top: 10px;
}

.upgrade {
  background-color: rgba(30, 30, 30, 0.7);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.upgrade-icon {
  width: 32px;
  height: 32px;
  border: 1px solid silver;
  border-radius: 50%;
}

.upgrade-icon.locked {
  filter: grayscale(100%);
}

.upgrade-info h4 {
  margin: 5px 0;
  color: #c0c0c0;
}

.spell-icon.locked {
  filter: grayscale(100%) brightness(50%);
}

.required-level.not-met {
  color: orange;
  font-style: italic;
}

.cost-badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: #ffd700;
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #000;
}

.unlock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

button {
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  border-radius: 3px;
  position: relative;
  margin-top: 5px;
  background-color: #1e1e1e;
  color: #c8a97e;
  border: 1px solid #c8a97e;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #c8a97e;
  color: #1e1e1e;
}

button:disabled {
  color:white;
  border: 1px solid #a1a1a1;;
  background-color: #a1a1a1;
  cursor: not-allowed;
}

.spell-damage{
  font-size: 12px;
  color: #ff6f6f;
  margin: 5px 0;
  font-style:italic;

}

.spell-level{
  font-size: 12px;
  margin: 5px 0;
  color: #57aae9;
  font-style:italic;
}

/* Stylizace scrollbaru pro webkit prohlížeče */
.skill-tree-container::-webkit-scrollbar {
  height: 8px;
}

.skill-tree-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.skill-tree-container::-webkit-scrollbar-thumb {
  background: rgba(200, 169, 126, 0.5);
  border-radius: 4px;
}

.skill-tree-container::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 169, 126, 0.7);
}


#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Semi-transparent background */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it overlays other elements */
}

#loadingContent {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

#loadingProgressBarContainer {
  width: 300px;
  height: 20px;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto 0;
}

#loadingProgressBar {
  width: 0%;
  height: 100%;
  background-color: #00ff00;
  transition: width 0.3s;
}

#damageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent 10%, rgba(255, 0, 0, 0.4) 70%, rgba(255, 0, 0, 0.8) 100%);
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  z-index: 1000;
}

#teleportOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent 10%, rgba(128, 0, 128, 0.4) 70%, rgba(128, 0, 128, 0.8) 100%);
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  z-index: 1000;
}