

body {
  cursor: url('/cursor-normal.png'), auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  overflow: hidden;

}

a,button, .shop-item{
  cursor: url('/finger.png'), pointer;
}

a:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover, .clickable:hover, .close, .close:hover {
  cursor: url('/finger.png'), pointer;
}




canvas {
  display: block;
}

#game-ui-bot {
  position: absolute;
  bottom: 25px;
  left: 5px;
  padding: 20px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}


#bossHealthContainer {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 8px;
}
#bossHealthContainer:not(:has(div)) {
  display: none !important;
}

.boss-health {
  font-family: Arial, sans-serif;
}

#playerHealthBar, #playerManaBar {
  width: 200px;
  height: 20px;
  background-color: black;
  border: 1px solid white;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

#playerManaBar {
  margin-top: 5px;
}

#playerHealthFill {
  height: 100%;
  background-color: rgb(173, 42, 42);
  transition: width 0.3s ease;
}

#playerManaFill {
  height: 100%;
  background-color: rgb(42, 42, 216);
  transition: width 0.3s ease;
}

#playerHealthText, #playerManaText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

#game-ui {
  position: absolute;
  top: 10px;
  left: 5px;
  padding: 20px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}
¨

#top-left-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

#playerName {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.showBottomMenuText {
  font-size: 14px;
  opacity: 0.8;
  margin-left: 15px;
}
.showBottomMenuText:first-of-type{
  margin-left: 0;
}


#game-stats {
  font-size: 14px;
}

.gold-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin:0;
}

#goldCount {
  color: gold;
  margin-right: 5px;
}

.gold-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

#minimap {
  border: 4px solid rgb(0, 0, 0);
}


#timeCount.minimap-open {
  color: yellow;
}

#showMinimapText.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#menu {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

#menu h1 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.2em;
}

#mazeInput {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  
}

#generateMaze {
  padding: 10px 20px;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: #2c3e50;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  color: #ecf0f1;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
}

#mazeSearchInput {
  align-self: stretch;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #34495e;
  color: #ecf0f1;
  flex: 1 0 0;
}

#scoreTableContainer {
  max-height: 400px;
  overflow-y: auto;
}

#scoreTable {
  width: 100%;
  border-collapse: collapse;
}

#scoreTable th, #scoreTable td {
  border: 1px solid #34495e;
  padding: 12px;
  text-align: left;
}

#scoreTable th {
  background-color: #34495e;
  position: sticky;
  top: 0;
}

#scoreTable tbody tr:nth-child(even) {
  background-color: #2c3e50;
}

#scoreTable tbody tr:hover {
  background-color: #3c5a76;
}

#settingsModal .modal-content {
  max-width: 400px;
}

#lightSettings {
  margin: 10px 0;
  padding: 5px;
}

#saveSettings {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

#skillbar {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 1368px) {
  #skillbar {
    bottom: 60px;
  }
}

.spell-icon {
  width: 40px;
  height: 40px;
  position: relative;
  border: 2px solid #fff;
  border-radius: 5px;
}

.spell-icon.frozen {
  filter: grayscale(100%) brightness(50%);
  pointer-events: none;
}

.spell-key {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 4px;
  font-size: 12px;
}

.spell-cooldown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.boss-health {
  margin-bottom: 5px;
  font-size: 14px;
}

.boss-name {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 12px;
}

.boss-health-bar {
  width: 150px;
  height: 15px;
  background-color: #333;
  border: 1px solid #ffffff;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  
}

.boss-health-fill {
  height: 100%;
  transition: width 0.3s ease;
}

.boss-health-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 1px black;
  white-space: nowrap;
}

#expBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12px; /* Zmenšeno z 20px na 12px */
  background-color: #1a1a1a;
  z-index: 10;
  overflow: hidden;
}

#expFill {
  height: 100%;
  background: linear-gradient(to bottom, #673fb8, #533081);
  transition: width 0.3s ease;
}

#expSegments {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.expSegment {
  flex-grow: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#expText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 10px; /* Zmenšeno z 12px na 10px */
  text-shadow: 1px 1px 2px #000;
}

#playerLevel {
  margin-left: 10px;
  font-weight: bold;
  color: #ffd700;
}


.skill-tree {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 85%;
  max-width: 960px;
}

.skill-tree-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.spell {
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
}

.spell-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.spell-icon {
  width: 64px;
  height: 64px;
  border: 2px solid gold;
  border-radius: 50%;
}

.spell-cost {
  font-size: 12px;
  color: #ffd700;
}

.spell-info h3 {
  margin: 10px 0;
  color: #ffd700;
}

.required-level {
  font-size: 12px;
  margin: 5px 0;
}

.upgrades-container {
  margin-top: 10px;
}

.upgrade {
  background-color: rgba(30, 30, 30, 0.7);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.upgrade-icon {
  width: 32px;
  height: 32px;
  border: 1px solid silver;
  border-radius: 50%;
}

.upgrade-icon.locked {
  filter: grayscale(100%);
}

.upgrade-info h4 {
  margin: 5px 0;
  color: #c0c0c0;
}

.spell-icon.locked {
  filter: grayscale(100%) brightness(50%);
}

.required-level.not-met {
  color: orange;
  font-style: italic;
}

.cost-badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: #ffd700;
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #000;
}

.unlock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

button {
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  border-radius: 3px;
  position: relative;
  margin-top: 5px;
  background-color: #1e1e1e;
  color: #c8a97e;
  border: 1px solid #c8a97e;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #c8a97e;
  color: #1e1e1e;
}

button:disabled {
  color:white;
  border: 1px solid #a1a1a1;;
  background-color: #a1a1a1;
  cursor: not-allowed;
}

.spell-damage{
  font-size: 12px;
  color: #ff6f6f;
  margin: 5px 0;
  font-style:italic;

}

.spell-level{
  font-size: 12px;
  margin: 5px 0;
  color: #57aae9;
  font-style:italic;
}


#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Semi-transparent background */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it overlays other elements */
}

#loadingContent {
  text-align: center;
  color: #ffffff;
}

#loadingProgressBarContainer {
  width: 300px;
  height: 20px;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto 0;
}

#loadingProgressBar {
  width: 0%;
  height: 100%;
  background-color: #00ff00;
  transition: width 0.3s;
}